[submodule "unreal_project/Spaceport/Content/ships"]
	path = unreal_project/Spaceport/Content/ships
	url = ../ships.git
[submodule "adobe_source_libraries"]
	path = adobe_source_libraries
	url = ../adobe_source_libraries.git
[submodule "unreal_project/Spaceport/Source/Spaceport/adobe_platform_libraries"]
	path = unreal_project/Spaceport/Source/Spaceport/adobe_platform_libraries
	url = ../adobe_platform_libraries.git
